<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <link rel="stylesheet" href="/static/css/pager.css"/>
    <link rel="stylesheet" href="/static/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/leftmenu.css?11">
    <link rel="stylesheet" href="/static/css/content.css?11">
    <link rel="stylesheet" href="/static/css/tntreebox.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/css/qx.css">
    <link rel="stylesheet" href="/static/js/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/static/css/jquery.mloading.css">
    <script src="/static/js/cookie.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/jquery.datetimepicker.full.min.js"></script>

    <script src="/static/js/daterangepicker/moment.min.js"></script>
    <script src="/static/js/daterangepicker/daterangepicker.js"></script>
    <script src="/static/js/json2.js"></script>
    <script src="/static/js/tntreebox.js"></script>
    <script src="/static/js/sweetalert2.js"></script>
    <script src="/static/js/bootstrap-dialog.min.js"></script>
    <script src="/static/js/jquery.mloading.js"></script>
    <title>操作界面</title>
    <style>
        table tbody tr:hover {
            background-color: #0E2132;
        }
    </style>
</head>


<body>

{#<div class="rightcontent">#}