.form-input-style{
    display: flex;
    align-items:center;
    padding: 0px;
    margin-right: 40px;
    margin-top: 30px;
}
.form-input-style>p{
    width: 100px;
    padding: 0px;
    /*color:#0c7eff;*/
    font-size: 14px;
    text-align: right;
}
.form-input-style>input{
    width: 300px;
    height: 38px;
	border: 1px solid #0c7eff;
	font-size: 14px;
	color: #ffffff;
	padding: 0px 20px 0px 20px;
	background-color: rgba(12,126,255,0.1);
}
.form-input-style .radio{
    width: 20px;
    height: 20px;
}
.form-input-style textarea{
    width: 1000px;
    height: 70vh;
	border: 1px solid #0c7eff;
	font-size: 14px;
	color: #ffffff;
	padding: 0px 20px 0px 20px;
	background-color: rgba(12,126,255,0.1);
}
.form-input-style select{
    width: 300px;
    height: 38px;
	border: 1px solid #0c7eff;
	font-size: 14px;
	color: #ffffff;
	padding: 0px 20px 0px 20px;
	background-color: rgba(12,126,255,0.1);
}
.form-input-style select option{
	background-color: rgb(13,42,70);
	border: 1px solid #0c7eff;
}
.form-input-style button{
    width: 80px;
    height: 38px;
    background-color: #0d4b92;
	font-size: 14px;
	color: #ffffff;
    border: none;
    margin-right: 10px;
}
 input[type=date]::-webkit-inner-spin-button{
     visibility: hidden;
 }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #0e2d54;
}