<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
    <title>shouye</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>
</head>

<frameset rows="80,*,0" cols="*" frameborder="no" border="0" framespacing="0" >
    <frame src="/title" name="title" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" style="border-bottom: 0px #ccc solid;">
    <frame src="" id="index_main" name="main" scrolling="Yes" noresize="noresize">
</frameset>
</html>